<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stuxnet</title>
    <link rel="stylesheet" href="../../static/article_page/css/article.css">
    <link rel="stylesheet" href="../../static/article_page/css/style.css">
    <link rel="stylesheet" href="../../static/article_page/css/navbar.css">
    <link rel="stylesheet" href="../../static/article_page/css/everyone_sample.css">
</head>
<body>
    <header class="header-article header">
		<div class="header-nav-bar">
			<a href="/">
				<div class="logo_header">
					<img src="../../static/article_page/img/logo.svg" alt="TOXIS logo">
				</div>
			</a>
			<nav class="navigation">
				<a href="">Network worms</a>
				<a href="viruses.html">Classic viruses</a>
				<a href="wares.html">Spyware & ransomware</a>
				<a href="bootnets.html">Botnets & rootkits</a>
			</nav>
		</div>
    </header>
	<section class="article-title">
        <div class="article-title-body">
			<h1 class="article-title-body-title">
				<span>stuxnet</span>
			</h1>
			<img src="../../static/article_page/img/stuxnet_virus_comix.png" 
				 alt="Little comix about Stuxnet virus" 
			 	 class="article-title-body-image" height="545" width="828"> 
		</div> 
	</section>
	<section class="article-contents container">
		<nav class="article-contents-body">
			<div class="article-contents-title">
				<h2 id="table-of-contents">
					<a href="#table-of-contents">Содержание</a>
				</h2>
			</div>
			<ol class="article-contents-list">
				<li class="article-contents-item">
					<a href="#short-desctription">
						1. Краткое описание
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#history">
						2. История
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#description">
						3. Подробное описание
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#effect">
						4. Действия на систему
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#versions-and-relevance">
						5. Версии и актуальность вируса сейчас
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#preventation">
						6. Способы профилактики
					</a>
				</li>
				<li class="article-contents-item">
					<a href="#dealing">
						7. Способы борьбы
					</a>
				</li>
			</ol>
		</nav>
		<img src="../../static/article_page/img/stuxnet_bomb.png" alt="" class="arcticle-contents-image">
	</section>
	<section class="article-body container">
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Краткое описание
					</h2>
					<img src="../../static/article_page/img/short_decription_icon.svg" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Вирус Stuxnet - это уникальный компьютерный вирус, разработанный для киберсаботажа в промышленных системах, в частности, для атак на объекты ядерного производства.	
				</p>
				<img src="../../static/article_page/img/001.png" alt="" class="article-body-part-image" width="542px" height="283px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						История
					</h2>
					<img src="../../static/article_page/img/history_icon.svg" alt="History icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Stuxnet был обнаружен в 2010 году аналитиками компании Kaspersky Lab, привлекая внимание киберспециалистов и общественности своей сложностью и целевой направленностью. Вирус оказался одним из первых, нацеленных на промышленные системы управления.
				</p>
				<img src="../../static/article_page/img/002.png" alt="" class="article-body-part-image" width="531px" height="398px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Подробное описание
					</h2>
					<img src="../../static/article_page/img/description_icon.svg" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Stuxnet представляет собой продвинутую программу злонамеренного ПО, созданную для внедрения в системы управления промышленными процессами. Этот вирус был разработан с целью заразить системы, управляющие оборудованием ядерных установок и другими промышленными объектами.
				</p>
				<img src="../../static/article_page/img/003.png" alt="" class="article-body-part-image" width="320px" height="271px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Действия на систему
					</h2>
					<img src="../../static/article_page/img/effect_icon.svg" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Основное действие Stuxnet заключается в манипуляциях с контроллерами промышленного оборудования. Вирус способен изменять параметры работы устройств, что может привести к серьезным техническим сбоям и нарушениям 
производственных процессов. Stuxnet был настроен на проникновение и скрытое функционирование в системах управления, без необходимости обнаружения.
				</p>
				<img src="../../static/article_page/img/004.png" alt="" class="article-body-part-image" width="542px" height="283px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Версии и актуальность вируса сейчас
					</h2>
					<img src="../../static/article_page/img/versions_icon.svg" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Stuxnet существует в нескольких версиях, и хотя первые случаи обнаружения пришли в 2010 году, вирус до сих пор представляет угрозу для промышленных объектов и критической инфраструктуры. Актуальность Stuxnet подчеркивает важность защиты систем от подобного рода кибератак.
				</p>
				<img src="../../static/article_page/img/005.png" alt="" class="article-body-part-image" width="700px" height="330px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Способы профилактики
					</h2>
					<img src="../../static/article_page/img/prevent_icon.svg" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					Для предотвращения атак Stuxnet и аналогичных вирусов, рекомендуется: <br>
<br>
- Регулярно обновлять операционные системы и программное обеспечение. <br>
- Использовать современное антивирусное программное обеспечение и средства защиты. <br>
- Проводить обучение сотрудников по вопросам кибербезопасности. <br>
- Ограничивать доступ к критическим системам и сегментировать сети.
				</p>
				<img src="../../static/article_page/img/006.png" alt="" class="article-body-part-image" width="877px" height="398px">
			</div>
		</div>
		<div class="article-body-part">
			<div>
				<div class="article-body-part-title">
					<h2 id="short-desctription" class="article-body-part-name">
						Способы борьбы
					</h2>
					<img src="../../static/article_page/img/dealing_icon.png" alt="Short description icon" class="article-body-title-image">
				</div>
				<hr>
			</div>
			<div class="article-body-part-content">
				<p>
					При обнаружении Stuxnet или аналогичных угроз рекомендуется:<br>
					<br>
- Провести изоляцию компрометированных систем от сети. <br>
- Использовать антивирусное программное обеспечение и специализированные инструменты для удаления вируса. <br>
- Мониторить сетевую активность и анализировать логи для обнаружения 
подозрительного поведения и атак. <br>
- Провести аудит компьютерных систем и усилить меры безопасности в соответствии с рекомендациями экспертов по кибербезопасности. <br>
<br>
Вирус Stuxnet остается одной из самых серьезных киберугроз, способен нарушить продуктивность и даже безопасность промышленных объектов. Понимание его механизмов действия и методов борьбы с ним является ключевым для обеспечения безопасности критической инфраструктуры и промышленных процессов.	
				</p>
				<img src="../../static/article_page/img/007.png" alt="" class="article-body-part-image" width="703px" height="396px">
			</div>
		</div>
	</section>
    <section class="links_to_articles container">
		<div class="container">
			<!-- <img src="img/network_worms/background_examples.png" alt="" class="articles_background_img"> -->
			<div class="articles_block">

				<div class="articles_block__title_and_search">
					<h3>Articles</h3>
					<form action="" class="search">
						<button>
							<img src="../../static/article_page/img/angle-right.png" alt="">
						</button>
						<input type="seacrh" placeholder="Search...">
					</form>
				</div>

				<div class="articles_block__example">
					<span>Triton</span>
					<img src="../../static/article_page/img/angle-right.png" alt="">
				</div>

				<div class="articles_block__example">
					<span>Morris Worm</span>
					<img src="../../static/article_page/img/angle-right.png" alt="">
				</div>

				<div class="articles_block__example">
					<span>SQL Slammer</span>
					<img src="../../static/article_page/img/angle-right.png" alt="">
				</div>

				<div class="articles_block__example">
					<span>WannaCry</span>
					<img src="../../static/article_page/img/angle-right.png" alt="">
				</div>

				<div class="articles_block__example">
					<span>Stuxnet</span>
					<img src="../../static/article_page/img/angle-right.png" alt="">
				</div>

				<div class="articles_block__slider">
					<div class="slider_point">
						<img src="../../static/article_page/img/angle-right.png" alt="" class="pointer_left">
					</div>

					<div class="slider_point">
						<span>1</span>
					</div>

					<div class="slider_point">
						<span>2</span>
					</div>

					<div class="slider_point">
						<span>3</span>
					</div>

					<div class="slider_point">
						<span>4</span>
					</div>

					<div class="slider_point">
						<span>5</span>
					</div>

					<div class="slider_point">
						<img src="../../static/article_page/img/angle-right.png" alt="" class="pointer_right">
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="article-footer">
		<a href="/" class="article-footer-logo">
			<img src="../../static/article_page/img/logo.svg" alt="">
		</a>
	</footer>
</body>
</html>